<footer>
  <p mt-8 text-xs op-30>
    <a
      b-slate-link
      href="https://open.erduo.tech" target="_blank"
    >
      耳朵实验室
    </a>
    <span px-1>|</span>
    <a>
      本工具仅为耳朵科技内部使用，回调响应频率：60次/每分钟。
    </a>
    {import.meta.env.PARTNER_LINK && import.meta.env.PARTNER_LINK_TITLE && (
      <>
        <span px-1>|</span>
        <a
          b-slate-link
          href={import.meta.env.PARTNER_LINK} target="_blank"
        >
          {import.meta.env.PARTNER_LINK_TITLE}
        </a>
      </>
    )}
  </p>
</footer>
